<!DOCTYPE html>
{% extends 'plantilla.html' %}
{% block titulo  %}
<title>Lote</title>
{% endblock titulo  %}

{% block tituloPagina %}
    <h1 class="page-header">Lote</h1>
{% endblock tituloPagina %}

{% block body_block %}
    <!--div class="container">
        <form method="post">
            {{ formLote.as_p }}
            {% csrf_token %}
            <input type="Submit" class="btn btn-primary" value="Guardar y Continuar">
            <input type="Submit" class="btn btn-danger" value="Cancelar">
        </form> 
    </div-->
{% endblock body_block %}

