{% extends 'plantilla.html' %}
{% load staticfiles %}


{% block titulo %}
  <title>Proyectos</title>
{% endblock titulo %}
  
{% block body_block %}
<h1 class="page-header">Macroproyectos</h1>
      <h2>Listado de Macroproyectos</h2>
      <div class="table-responsive">
          <table class="table table-striped">
              <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Metros Cuadrados (M2)</th>
                  </tr>
              </thead>
              <tbody>
                  {% for macroproyecto in macroproyecto_list %}
                    <tr>
                      <td><a href="{% url 'proyecto:macro_edit' pk=macroproyecto.pk %}">{{ macroproyecto.nombreMacroproyecto }}</a></td>
                      <td>{{ macroproyecto.descripcionMacroproyecto }}</td>
                      <td>{{ macroproyecto.m2Macroproyecto }}</td>   
                      {% if macroproyecto.proyectos.all %}
                        <td><a href="{% url 'proyecto:proyecto_list' pk=macroproyecto.pk %}" class="btn-success btn-sm">Proyectos</a></td>                          
                      {% else %}
                      <td><a href="" class="btn-danger btn-sm">Proyectos</a></td>                          
                      {% endif %}
                      {% if macroproyecto.is_macroproyecto_complete %}
                        <td><a href="{% url 'proyecto:prefactibilidad_view' pk=macroproyecto.pk %}" class="btn-warning btn-sm">Prefactibilidad</a></td>
                      {% else %}
                        <td><a href="" class="btn-danger btn-sm">Prefactibilidad</a></td>
                      {% endif %}                                              
                    </tr>
                  {% endfor %}
              </tbody>
            </table> 
      </div>                     

{% endblock %}
