{% extends "plantilla.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block tituloPagina %}
    <title>Nuevo Lote/Macroproyecto</title>
{% endblock tituloPagina %}

{% block body_block %}
<h3>Crear un nuevo Macroproyecto</h3>
<div class="container-fluid">
    <div class="well well-sm">
        <p class="lead">
                Generarás aquí todos los componentes iniciales de un Macro-proyecto a ser evaluado, podrá ser lento en alguna parte, 
                no desesperes.
        </p>
        <p class="lead">
            Ah!, otra cosa, apenas des click en <mark>"Siguiente"</mark>, toda la información será generada y guardada; no hay vuelta atrás.
            Así que asegúrate que toda la información sea correcta. 
        </p>
        <p class="lead">
            Esto lo hacemos con el fin de que en caso de problemas puedas editar la 
            información y no perder tu trabajo :).
        </p>
        {% bootstrap_messages %}
    </div>
</div>
<form method="POST">
    {% csrf_token %}
    <div class="container-fluid">
            <div class="row">
                    <div class="col-md-12">
                            <div class="panel panel-default">
                                    <div class="panel panel-heading">
                                        <h3 class="panel-title">Información Macroproyecto</h3>
                                    </div>
                                    <div class="panel panel-body">
                                        {% bootstrap_form form error_types='all' %}
                                        <div class="row">
                                            <div class="col-md-6">
                                                    <div class="panel-default">
                                                            <div class="panel panel-heading">
                                                                <h3 class="panel-title">Información Lote</h3>
                                                            </div>
                                                            <div class="panel panel-body">
                                                                {% bootstrap_form lote_form error_types='all' %}
                                                            </div>
                                                            <div class="panel panel-footer">
                                            
                                                            </div>
                                                    </div>                                                                                                
                                            </div>
                                            <div class="col-md-6">
                                                    <div class="panel-default">
                                                            <div class="panel panel-heading">
                                                                <h3 class="panel-title"># Proyectos</h3>
                                                            </div>
                                                            <div class="panel panel-body">
                                                                {% bootstrap_form proyecto_form error_types='all' %}
                                                            </div>
                                                            <div class="panel panel-footer">
    
                                                            </div>
                                                    </div>    
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-footer">
                                        <div class="button btn-group">
                                                <button class="btn btn-primary" type="submit">
                                                        <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
                                                                Siguiente
                                                </button>
                                            <button onclick="window.history.back();" class="btn btn-danger" type="button">Cancelar</button> 
                                            <a href="{% url 'proyecto:indexProyecto' %}" class="btn btn-primary">Volver a Macroproyectos</a>
                                        </div>
                                    </div>
                            </div>
                    </div>
            </div>
    </div>
</form>
{% endblock body_block %}

{% block js_script %}
<script src="{% static 'prefact/js/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $('.formset_row').formset({
        addText: 'Añadir',
        deleteText: 'Quitar',
        prefix: 'proyectos'
    });
</script>
{% endblock js_script %}
