{% extends 'plantilla.html' %}

{% block titulo %}
  <title>Proyectos</title>
{% endblock titulo %}
  
{% block body_block %}
<h1 class="page-header">Macroproyectos</h1>
      <h2>Listado de Macroproyectos</h2>
      <div class="table-responsive">
          <table class="table table-striped">
              <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Metros Cuadrados</th>
                  </tr>
              </thead>
              <tbody>
                  {% for macroproyecto in macroproyecto_list %}
                    <tr>
                      {% comment %} <td>{{ macroproyecto.nombreMacroproyecto }}</td> {% endcomment %}
                      <td><a href="{% url 'proyecto:macro_edit' pk=macroproyecto.pk %}">{{ macroproyecto.nombreMacroproyecto }}</a></td>
                      <td>{{ macroproyecto.descripcionMacroproyecto }}</td>
                      <td>{{ macroproyecto.m2Macroproyecto }}</td>   
                      {% if macroproyecto.proyectos.all %}
                        <td><a href="{% url 'proyecto:proyecto_incremento' pk=macroproyecto.pk %}" class="btn-info btn-sm">Incrementos y Velocidades</a></td>                          
                        <td><a href="{% url 'proyecto:proyecto_inventario' pk=macroproyecto.pk %}" class="btn-success btn-sm">Inventario de Inmuebles</a></td>                      
                      {% endif %}     
                      <td><a href="" class="btn-warning btn-sm">Informaci&oacute;n de factibilidad</a></td>
                    </tr>
                  {% endfor %}
              </tbody>
            </table> 
      </div>                     

{% endblock %}
