{% extends 'plantilla.html' %}
{% load staticfiles %}

{% block titulo %}
  <title>Inventario de Inmuebles x Etapas/SubEtapas</title>
{% endblock titulo %}
  
{% block body_block %}
<h2>Etapas de {{ view.proyecto.nombreProyecto|capfirst }}</h2>
<div class="panel panel-default">
  <div class="panel-heading">
      <h4 class="panel-title">Etapas creadas</h4>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped">
          <thead>
              <tr>
                <th>Nombre</th>
                <th>Descripción</th>
              </tr>
          </thead>
          <tbody>
              {% for etapa in etapa_list %}
                <tr>
                  <td><a href="{% url 'proyecto:etapa_edit' pk=etapa.pk %}" >{{ etapa.nombreEtapa }}</a></td>
                  <td>{{ etapa.descripcionEtapa }}</td>
                  
                  {% if etapa.subetapa.all %}
                    <td><a href="{% url 'proyecto:subetapa_edit' pk=etapa.pk %}" class="btn-success btn-sm">Sub-etapas</a></td>                      
                  {% else %}
                    <td><a href="{% url 'proyecto:subetapa_create' pk=etapa.pk %}" class="btn-danger btn-sm">Creación de Sub-Etapas</a></td>  
                  {% endif %}
                </tr>
              {% endfor %}
          </tbody>
        </table> 
        <a href="{% url 'proyecto:proyecto_list' pk=view.proyecto.macroproyecto.pk %}" class="btn btn-primary">Volver a Proyectos</a>  
    </div> 
  </div>
</div>      

{% endblock %}
