{% extends 'plantilla.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block tituloPagina %}
    <title>Incrementos y Velocidades de Ventas</title>
{% endblock tituloPagina %}

{% block body_block %}
<h2>Proyecto {{ view.proyecto.nombreProyecto|capfirst }}</h2>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel panel-heading">
                <h3 class="panel-title">Inventario de Inmuebles para la Etapa {{ view.etapa.nombreEtapa|capfirst }}</h3>
            </div>
            <div class="panel panel-body">
                <form method="POST">
                    {% csrf_token %}
                    {{ lista_inventario.management_form }}
                    <table class="table">
                        
                        {% for form in lista_inventario  %}
                            {% bootstrap_form_errors form layout='inline' %}
                            {% if forloop.first %}
                                <thead>
                                    <tr>
                                        {% for field in form.visible_fields  %}
                                            <th>{{ field.label|capfirst }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                            {% endif %}
                            <tr class="{% cycle row1 row2 %} formset_row">
                                {% for field in form.visible_fields %}
                                    <td>
                                        {% if forloop.first %}
                                            {% for hidden in form.hidden_fields %}
                                                {{ hidden }}
                                            {% endfor %}
                                        {% endif %}
                                        {{ field.errors.as_ul }}
                                        {{ field }}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                    <button class="btn btn-success" type="submit">
                            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                                    Guardar
                     </button>
                    <button onclick="window.history.back();" class="btn btn-primary" type="button">Cancelar</button>                       
                </form>
            </div>
        </div>
    </div>
    
    
{% endblock body_block %}

{% block js_script %}
<script src="{% static 'prefact/js/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $('.formset_row').formset({
        addText: 'Añadir',
        deleteText: 'Quitar',
    });
</script>
{% endblock js_script %}