{% extends 'plantilla.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block tituloPagina %}
    <title>Incrementos y Velocidades de Ventas</title>
{% endblock tituloPagina %}

{% block body_block %}
    <h3>Incrementos/Ventas por proyecto para: {{ view.macroproyecto.nombreMacroproyecto|capfirst }}</h3>
    <form method="POST">
        <div class="panel panel-default">
            <div class="panel panel-heading">
                <h4 class="panel-title">Debe ingresar la información por cada proyecto listado</h4>            
            </div>
            <div class="panel panel-body">
                {% csrf_token %}
                {% bootstrap_form_errors form error_types='all'  %}
                {% bootstrap_form form error_types='all' %}
            </div>
            <div class="panel panel-footer">
            
            </div>
        </div>
    </form>
{% endblock body_block %}


{% block js_script %}

{% endblock js_script %}