{% extends 'plantilla.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block tituloPagina %}
    <title>Incrementos y Velocidades de Ventas</title>
{% endblock tituloPagina %}

{% block body_block %}
<h2>Proyecto {{ view.proyecto.nombreProyecto|capfirst }}</h2>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel panel-heading">
                <h3 class="panel-title">Ingrese información para las ventas de su proyecto</h3>
            </div>
            <div class="panel panel-body">
                <form method="POST">
                    {% csrf_token %}
                    {% bootstrap_form form error_types='all' %}
                   {% comment %} {{ form.as_p }} {% endcomment %}
                    <button class="btn btn-success" type="submit">
                        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                                Guardar
                    </button>
                    <button onclick="window.history.back();" class="btn btn-primary" type="button">Cancelar</button>   
                </form>
            </div>
        </div>
    </div>
    
{% endblock body_block %}


{% block js_script %}

{% endblock js_script %}