{% extends "plantilla.html" %}

{% block tituloPagina %}
    <title>Nuevo Macroproyecto</title>
{% endblock tituloPagina %}

{% block body_block %}
    <h2>Asociar Proyectos</h3>
    <p>Proyectos para Macroproyecto: Pepito</p><!--ingresar aquí nombre macroproyecto de página anterior-->
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Proyectos</h3>                    
                </div>
                <div class="panel-body">
                    <table class="table table-condensed">
                       
                       <thead>
                           <tr>
   
                           </tr>            
                       </thead>
                       <tbody>
                           <tr class="formset_row">

                       </tbody>
                    </table>
                    <input type="submit" value="Guardar"/> <a href="{% url 'indexProyecto' %}">De Vuelta a Macroproyectos/a>
                </div>
            </div>
        </form>
    </div>
{% endblock body_block %}

<script src="{% static 'js/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $('.formset_row').formset({
        addText: 'Añadir',
        deleteText: 'Quitar',
    });
</script>