{% extends 'plantilla.html' %}
{% load staticfiles %}

{% block titulo %}
  <title>Proyectos</title>
{% endblock titulo %}
  
{% block body_block %}
<h2>Listado de Proyectos {{ view.macroproyecto.nombreMacroproyecto|capfirst }}</h2>
<div class="panel panel-default">
  <div class="panel-heading">
      
  </div>
  <div class="panel panel-body">
      <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Descripción</th>
                  <th>Metros Cuadrados</th>
                </tr>
            </thead>
            <tbody>
                {% for proyecto in proyecto_list %}
                  <tr>
                    <td>{{ proyecto.nombreProyecto }}</td>
                    <td>{{ proyecto.descripcionProyecto }}</td>
                    <td>{{ proyecto.m2PorProyecto }}</td>
                    
                    {% if proyecto.venta.all %}
                      <td><a href="{% url 'proyecto:incremento_edit' pk=proyecto.pk %}" class="btn-success btn-sm">Incrementos y Ventas</a></td>  
                    {% else %}
                      <td><a href="{% url 'proyecto:proyecto_incremento' pk=proyecto.pk %}" class="btn-danger btn-sm">Incrementos y Ventas</a></td>  
                    {% endif %}       
                    {% if proyecto.etapas_proyecto.all %}
                      <td><a href="{% url 'proyecto:etapa_edit' pk=proyecto.pk %}" class="btn-success btn-sm">Edición de Etapas</a></td>  
                      <td><a href="{% url 'proyecto:etapa_list' pk=proyecto.pk %}" class="btn-success btn-sm">Sub-Etapas</a></td>  
                    {% else %}
                      <td><a href="{% url 'proyecto:etapa_create' pk=proyecto.pk %}" class="btn-danger btn-sm">Etapas</a></td>  
                      <td><a href="" class="btn-danger btn-sm">Inventario de Inmuebles por Etapa</a></td>  
                    {% endif %}                                   
                  </tr>
                {% endfor %}
            </tbody>
          </table> 
      </div> 
  </div>
  <div class="panel panel-footer">
    <a href="{% url 'proyecto:indexProyecto' %}" class="btn btn-primary">Volver a Macroproyectos</a>
  </div>
</div>      

{% endblock %}
