{% extends 'plantilla.html' %}
{% load staticfiles %}

{% block titulo %}
  <title>Inventario de Inmuebles x Etapas/SubEtapas</title>
{% endblock titulo %}
  
{% block body_block %}
<h2>SubEtapas de {{ view.etapa.nombreEtapa|capfirst }}, Proyecto: {{ view.proyecto.nombreProyecto|capfirst}}</h2>
<div class="panel panel-default">
  <div class="panel-heading">
      
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped">
          <thead>
              <tr>
                <th>Nombre</th>
                <th>Descripción</th>
              </tr>
          </thead>
          <tbody>
              {% for subetapa in subetapa_list %}
                <tr>
                  
                  <td><a href="{% url 'proyecto:subetapa_edit' pk=subetapa.pk %}">{{ subetapa.nombreSubEtapa }}</a></td>
                  <td>{{ subetapa.descripcionSubEtapa }}</td>
                  
                  {% if subetapa.tipoInmueble.all %}
                    <td><a href="{% url 'proyecto:inventario_edit' pk=subetapa.pk %}" class="btn-success btn-sm">Inventario</a></td>  
                  {% else %}
                    <td><a href="{% url 'proyecto:inventario_create' pk=subetapa.pk %}" class="btn-danger btn-sm">Inventario</a></td>  
                  {% endif %}    
                  {% if subetapa.ventas.all %}
                      <td><a href="" class="btn-success btn-sm">Incrementos y Ventas</a></td>  
                  {% else %}
                      <td><a href="" class="btn-danger btn-sm">Incrementos y Ventas</a></td>  
                  {% endif %}                                       
                </tr>
              {% endfor %}
          </tbody>
        </table> 
    </div> 
    <div class="panel panel-footer">
        <a href="{% url 'proyecto:etapa_list' pk=view.proyecto.pk %}" class="btn btn-primary">Volver a Etapas</a>  
    </div> 
  </div>
</div>      

{% endblock %}
