{% extends "plantilla.html" %}

{% block titulo %}
<title>Bienvenido a prefact</title>
{% endblock titulo %}


{% block tituloPagina %}
    <h1 class="page-header">Inicio</h1>
{% endblock tituloPagina %}

{% block body_block %}
    <div class="container">
        <div class="jumbotron">
            <h3>Por favor indique que necesita</h3>
            <p><a href="{% url 'proyecto:nuevoMacro' ‰}"></a>Iniciar Nuevo Flujo de Factibilidad</a></p>
            <p><a href="http://">Ver Proyectos Registrados</a></p>
        </div>
    </div>
{% endblock body_block %}
